@charset "UTF-8";
/* globales */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/*Google Fonts*/
* {
  margin: 0;
  padding: 0;
  /*Reset*/
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #B81D24;
  line-height: inherit;
  color: inherit;
}

main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  margin-left: 10%;
  margin-right: 10%;
}

p {
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

a:hover {
  /*pseudoclase que le cambia estas propiedades cuando le paso el mouse*/
  color: #F5F5F1 !important;
  font-weight: bold;
}

ul {
  margin-bottom: 0;
}

.containercss {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
      grid-template-areas: "header" "main" "footer";
}

.fgrow {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 35%;
  font-weight: 600;
  font-size: 20px;
  color: #F5F5F1;
  background-color: #E50914;
  border: 5px solid #F5F5F1;
  border-radius: 6px;
  padding: 10px;
  margin: 35px auto 20px auto;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

h1:hover {
  -webkit-box-shadow: 1px 1px 3px 1px #221F1F;
          box-shadow: 1px 1px 3px 1px #221F1F;
  -webkit-transform: translate(5px, 0px);
          transform: translate(5px, 0px);
}

h3 {
  font-size: inherit;
  font-weight: bold;
}

.parrafoDescriptivo {
  color: #F5F5F1;
  text-align: center;
  padding: 8px;
  font-size: large;
  margin-bottom: 13px;
  margin-left: 10%;
  margin-right: 10%;
}

.btn-wsp {
  position: fixed;
  width: 60px;
  height: 60px;
  line-height: 63px;
  bottom: 11px;
  right: 19px;
  background: #25d366;
  color: #F5F5F1;
  border-radius: 50px;
  text-align: center;
  font-size: 35px;
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.btn-wsp:hover {
  background: #20ba5a;
}

/* header */
header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  background-color: #221F1F;
  top: 0;
  width: 100%;
  padding: 12px;
  position: -webkit-sticky;
  position: sticky;
}

nav {
  padding: 0 10% 0 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

nav ul li a {
  color: #E50914 !important;
  font-size: large;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
}

#botonNavbar {
  color: #E50914;
  border: solid #E50914;
}

.logo {
  height: 70px;
  width: 70px;
}

.logo:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.refLogo {
  border: none;
  background-color: transparent;
}

/* footer */
footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  background-color: #221F1F;
  width: 100%;
  margin-top: 70px;
}

.txtFooter {
  padding: 30px;
  color: #E50914;
}

.negrita {
  font-weight: bold;
}

.linkCoder {
  color: #E50914;
}

/* index */
.subtituloInicio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 5px 15px 5px;
  margin: 35px 0 20px 0;
  font-size: 25px;
  font-weight: bold;
  color: #F5F5F1;
  border-top: 3px solid #E50914;
  border-bottom: 3px solid #E50914;
}

.preguntasFrecuentes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px 15px 0 15px;
}

.preguntasFrecuentes #pfTit {
  color: #000;
  font-size: larger;
  text-transform: uppercase;
}

.preguntasFrecuentes .pregunta {
  background-color: #E50914;
  border: solid;
  border-radius: 8px;
  padding: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.preguntasFrecuentes .pregunta:hover {
  -webkit-box-shadow: 1px 1px 3px 1px #000;
          box-shadow: 1px 1px 3px 1px #000;
}

.preguntasFrecuentes .pregunta h3 {
  padding: 6px 8px 8px 10px;
  text-transform: uppercase;
  color: #F5F5F1;
}

.preguntasFrecuentes .pregunta .preguntaLista {
  list-style: circle;
}

.preguntasFrecuentes .pregunta .preguntaLista li {
  list-style: inherit;
}

/* películas */
.peliculasContainer {
  border: solid #F5F5F1;
  border-radius: 8px;
  padding: 25px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#221F1F), to(#000));
  background: linear-gradient(top, #221F1F, #000);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 280px;
  justify-items: center;
  max-height: 700px;
  overflow-y: overlay;
  overflow-x: hidden;
}

.peliculasContainer .peli {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.peliculasContainer .peli .peliImg {
  display: block;
  height: 200px;
  width: 115px;
  -o-object-fit: cover;
     object-fit: cover;
  border: solid 3px #F5F5F1;
  border-radius: 8px;
}

.peliculasContainer .peli .peliImg:hover {
  -webkit-box-shadow: 1px 1px 3px 1px #F5F5F1;
          box-shadow: 1px 1px 3px 1px #F5F5F1;
}

.peliculasContainer .peli .peliBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 130%;
  padding: 7px;
}

.peliculasContainer .peli .peliBody .peliTit {
  font-size: large;
  padding: 3px;
  margin-bottom: 0;
  font-weight: bold;
  line-height: inherit;
  color: #F5F5F1;
}

.peliculasContainer .peli .peliBody .peliGenAn {
  font-size: medium;
  padding: 3px;
  color: #F5F5F1;
}

.peliculasContainer .peli .peliBody .peliBts {
  padding: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.peliculasContainer .peli .peliBody .peliBts .peliBoton {
  padding: 5px;
  margin: 2px;
  border: solid 2px #F5F5F1;
  border-radius: 8px;
  background-color: #E50914;
  font-weight: bold;
  text-transform: uppercase;
  font-size: small;
}

.peliculasContainer .peli .peliBody .peliBts .peliBoton:hover {
  background-color: #221F1F;
  color: #E50914;
}

.peliculasContainer .peli .peliBody .peliBts .peliBoton:focus {
  background-color: #F5F5F1;
}

/* staff */
.containerStaff {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

.containerStaff .infoStaff {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  background: linear-gradient(-45deg, #221F1F 0%, #B81D24 50%, #E50914 100%);
  border: solid #F5F5F1;
  border-radius: 8px;
  margin: 10px;
}

.containerStaff .infoStaff:hover {
  -webkit-box-shadow: 1px 1px 3px 1px #F5F5F1;
          box-shadow: 1px 1px 3px 1px #F5F5F1;
}

.containerStaff .infoStaff .imagenStaff {
  display: block;
  height: 200px;
  width: 230px;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 10px;
}

.containerStaff .infoStaff .caption {
  font-size: medium;
  padding: 10px;
  color: #F5F5F1;
}

/* lugar */
.lugarContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 45px;
  border: solid #F5F5F1;
  border-radius: 8px;
  background: -webkit-gradient(linear, left top, left bottom, from(#221F1F), to(#000));
  background: linear-gradient(top, #221F1F, #000);
}

.lugarContainer .maps {
  height: 415px;
  width: 200px;
  padding-right: 10px;
}

.lugarContainer .maps:hover {
  -webkit-transform: scale(1.015);
          transform: scale(1.015);
}

.lugarContainer .imagenesLugar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 200px;
  grid-gap: 15px;
}

.lugarContainer .imagenesLugar .fotoLugar {
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.lugarContainer .imagenesLugar .fotoLugar:hover {
  -webkit-transform: scale(1.015);
          transform: scale(1.015);
}

/* contacto */
.formContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px;
  margin: 0px auto 0px auto;
  padding: 15px;
  background: -webkit-gradient(linear, left top, left bottom, from(#221F1F), to(#000));
  background: linear-gradient(top, #221F1F, #000);
  border: solid #F5F5F1;
  border-radius: 8px;
  width: 60%;
}

.formContainer .campos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.formContainer .campos label {
  color: #F5F5F1;
}

.formContainer .campos .inputContacto {
  background-color: #F5F5F1;
  width: 100%;
  height: 40px;
  border: solid 2px #221F1F;
  border-radius: 8px;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 15px;
}

.formContainer .campos textarea {
  background-color: #F5F5F1;
  width: 100%;
  height: 150px;
  border: solid 2px #221F1F;
  border-radius: 8px;
  padding-top: 15px;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.formContainer .terminos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 5px;
  color: #F5F5F1;
}

.formContainer .containerBotones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.formContainer .containerBotones .botones {
  height: 40px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: #E50914;
  border: solid 2px #F5F5F1;
  border-radius: 8px;
  width: 200px;
  cursor: pointer;
  font-weight: bold;
}

.formContainer .containerBotones .botones:hover {
  background-color: #221F1F;
  color: #E50914;
}

.formContainer .containerBotones .botones:focus {
  background-color: #F5F5F1;
}

.formContainer .aviso {
  font-size: 15px;
  color: #F5F5F1;
}

.obligatorio {
  color: #E50914;
}

.nroRedes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 25px auto;
  width: 60%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #E50914;
  border: solid #221F1F;
  border-radius: 8px;
}

.nroRedes:hover {
  -webkit-box-shadow: 1px 1px 3px 1px #000;
          box-shadow: 1px 1px 3px 1px #000;
}

/* media querys */
@media screen and (max-width: 768px) {
  main {
    margin-left: 5%;
    margin-right: 5%;
  }
  h1 {
    font-size: 15px;
    padding: 6px;
    margin: 15px auto 10px auto;
  }
  nav ul {
    padding: 4px 0 4px 0;
  }
  .btn-wsp {
    width: 63px;
    height: 63px;
    line-height: 66px;
  }
  .logo {
    height: 50px;
    width: 50px;
  }
  .peliculasContainer {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    max-height: 500px;
  }
  .containerStaff {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .lugarContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .lugarContainer .maps {
    width: 400px;
    height: 150px;
    padding: 5px 10px 0 10px;
    padding-bottom: 10px;
  }
}
/*# sourceMappingURL=style.css.map */