/* header */

header {
    grid-area: header;
    background-color: $colorNegroHF;
    top: 0;
    width: 100%;
    padding: 12px;
    position: sticky;
}

nav {
    padding: 0 10% 0 10%;
    align-items: center;

    ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;

        li {
            a {
                color: $colorSecundario !important;
                font-size: large;
                font-weight: bold;
                text-transform: uppercase;
                padding: 10px;
            }
        }
    }
}

#botonNavbar {
    color: $colorSecundario;
    border: solid $colorSecundario;
}

.logo {
    height: 70px;
    width: 70px;

    &:hover {
        transform: scale(1.1);
    }
}

.refLogo {
    border: none;
    background-color: transparent;
}