/* lugar */

.lugarContainer {
    @include flex(space-around, center);
    flex-wrap: nowrap;
    padding: 35px;
    @extend %contenedorNegro;

    .maps {
        height: 415px;
        width: 25%;
        padding-right: 10px;

        &:hover {
            transform: scale(1.015);
        }
    }

    .imagenesLugar {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 200px;
        grid-gap: 15px;

        .fotoLugar {
            @extend %img;
            height: 100%;
            width: 100%;

            &:hover {
                transform: scale(1.015);
            }
        }
    }
}