// footer

footer{
    grid-area: footer;
    background-color: #221F1F;
    width: 100%;
    margin-top: 70px;
}

.txtFooter{
    padding: 30px;
    color: #E50914;
}

.negrita{
    font-weight: bold;
}

.linkCoder{
    color: #E50914;
}