// index

.subtituloInicio{
    display: flex;
    justify-content: center;
    padding: 15px 5px 15px 5px;
    margin-top: 30px;
    font-size: 25px;
    font-weight: bold;
    color: #f5f5f1;
    border-top: 3px solid #E50914;
    border-bottom: 3px solid #E50914;
}

.preguntasFrecuentes{
    display: flex;
    flex-direction: column;
    padding: 15px 15px 0 15px;
    h3{
        padding: 6px 8px 8px 10px;
        text-transform: uppercase;
        color: #F5F5F1;
    }
}

#pfTit{
    color: black;
    font-size: larger;
}

.pregunta{
    background-color: #E50914;
    border: solid;
    border-radius: 8px;
    padding: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    &:hover{
        box-shadow: 1px 1px 3px 1px black;
    }
}

.preguntaLista{
    list-style: circle;
    li{
        list-style: inherit;
    }
}